:root {
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family--mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-size-base: 10px;
    --font-size-xx-small: 1.1rem;
    --font-size-x-small: 1.2rem;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.4rem;
    --font-size-xx-large: 3.4rem;
}

@media (min-width: 40em)
:root {
    --font-size-base: 11px;
}

:root {
    --content-width: 98rem;
    --body-padding: 6.4rem;
}

:root {
    --rgb-black: 0, 0, 0;
    --rgb-white: 255, 255, 255;
    --rgb-almost-black: 35, 28, 51;
    --rgb-almost-white: 236, 233, 230;
    --rgb-gray: 116, 116, 128;
    --rgb-medium-gray: 226, 221, 215;
    --rgb-light-gray: 251, 250, 249;
    --rgb-neutral-light-gray: 244, 243, 245;
    --rgb-teal: 157, 255, 236;
    --rgb-blue: 0, 116, 228;
    --rgb-purple: 85, 34, 250;
    --rgb-green: 41, 152, 80;
    --rgb-red: 201, 36, 0;
    --rgb-canary: 255, 245, 202;
    --rgb-yellow: 255, 214, 10;
    --rgb-yellow-gradient-middle: 255, 245, 205;
    --rgb-peach: 255, 229, 218;
    --rgb-orange: 248, 121, 23;
    --rgb-coral: 249, 92, 92;
    --rgb-light-green: 22, 186, 91;
    --rgb-background: var(--rgb-white);
    --rgb-ink: var(--rgb-almost-black);
    --rgb-overlay: var(--rgb-white);
    --color-black: rgb(var(--rgb-black));
    --color-almost-black: rgb(var(--rgb-almost-black));
    --color-primary: rgb(var(--rgb-teal));
    --color-secondary: rgb(var(--rgb-blue));
    --color-tertiary: rgb(var(--rgb-purple));
    --color-positive: rgb(var(--rgb-green));
    --color-negative: rgb(var(--rgb-red));
    --color-coral: rgb(var(--rgb-coral));
    --color-disabled: rgb(var(--rgb-gray));
    --color-always-white: rgb(var(--rgb-white));
    --color-yellow: rgb(var(--rgb-yellow));
    --color-bg--main: rgb(var(--rgb-background));
    --color-bg--main-transparent: rgba(var(--rgb-background), 0);
    --color-bg--main-thin: rgba(var(--rgb-background), 0.5);
    --color-bg--main-thick: rgba(var(--rgb-background), 0.95);
    --color-bg--main-reversed: rgb(var(--rgb-ink));
    --color-bg--surface: rgba(var(--rgb-medium-gray), 0.4);
    --color-bg--surface-opaque: rgb(var(--rgb-medium-gray));
    --color-bg--surface-glint: rgba(var(--rgb-medium-gray), 0.15);
    --color-bg--surface-glint-transparent: rgba(var(--rgb-light-gray), 0);
    --color-bg--surface-glint-opaque: rgb(var(--rgb-light-gray));
    --color-bg--surface-glint-thick: rgb(var(--rgb-light-gray), 0.9);
    --color-bg--neutral: rgb(var(--rgb-neutral-light-gray));
    --color-bg--positive: rgba(var(--rgb-green), 0.25);
    --color-bg--positive-glint: rgba(var(--rgb-green), 0.15);
    --color-bg--negative: rgb(var(--rgb-red), 0.25);
    --color-bg--negative-glint: rgb(var(--rgb-red), 0.15);
    --color-bg--flash-notice: rgba(var(--rgb-ink), 0.75);
    --color-bg--flash-notice-glint: rgba(var(--rgb-ink), 0.65);
    --color-bg--primary: rgba(var(--rgb-teal), 0.15);
    --color-bg--primary-glint: rgba(var(--rgb-teal), 0.05);
    --color-bg--secondary: rgba(var(--rgb-blue), 0.15);
    --color-bg--secondary-glint: rgba(var(--rgb-blue), 0.05);
    --color-bg--secondary-opaque: #E0EAF9;
    --color-bg--secondary-glint-opaque: #F4F8FE;
    --color-bg--tertiary: rgba(var(--rgb-purple), 0.15);
    --color-bg--tertiary-glint: rgba(var(--rgb-purple), 0.05);
    --color-bg--warning: rgb(var(--rgb-canary));
    --color-bg--warning-glint: rgb(var(--rgb-peach));
    --color-bg--warning-urgent: rgb(var(--rgb-orange), 0.33);
    --color-bg--collection: rgba(var(--rgb-green), 0.25);
    --color-bg--collection-glint: rgba(var(--rgb-teal), 0.1);
    --color-bg--collection-opaque: #D7EFDE;
    --color-bg--collection-glint-opaque: #F2FDF9;
    --color-bg--world-primary: #8edacd;
    --color-bg--world-secondary: #4c63e1;
    --color-bg--world-tertiary: #6550f0;
    --color-bg--highlight: rgba(var(--rgb-yellow), 0.25);
    --color-bg--overlay: rgb(var(--rgb-overlay));
    --color-bg--overlay-dark: rgb(var(--rgb-almost-black), 0.95);
    --color-bg--receded: rgb(var(--rgb-ink), 0.03);
    --color-bg--receded-on-isolated-content: rgb(var(--rgb-ink), 0.03);
    --color-bg--card: #fff;
    --color-bg--sheet: var(--color-bg--main);
    --color-bg--sheet-transparent: var(--color-bg--main-transparent);
    --color-bg--entry-sheet: var(--color-bg--main);
    --color-bg--message-content: #fff;
    --color-bg--popup: rgba(var(--rgb-ink), 0.25);
    --color-bg--tooltip: rgb(var(--rgb-almost-black));
    --color-bg--go-button: rgba(var(--rgb-ink), 0.2);
    --color-bg--note: rgba(var(--rgb-yellow), 0.35);
    --color-bg--note-glint: rgba(var(--rgb-yellow), 0.15);
    --color-bg--note-opaque: #FFF6C8;
    --color-bg--thread: #FAF9F7;
    --color-bg--note-blend: rgb(var(--rgb-yellow-gradient-middle));
    --color-recycling: rgb(var(--rgb-light-green));
    --color-txt: rgb(var(--rgb-ink));
    --color-txt--reversed: rgb(var(--rgb-background));
    --color-txt--subtle: rgba(var(--rgb-ink), 0.66);
    --color-txt--subtle-reversed: rgba(var(--rgb-background), 0.66);
    --color-txt--action: rgb(var(--rgb-blue));
    --color-txt--placeholder: rgba(var(--rgb-ink), 0.60);
    --color-txt--on-message-content: rgb(var(--rgb-almost-black));
    --color-txt--subtle-on-message-content: rgba(var(--rgb-almost-black), 0.66);
    --color-border: rgba(var(--rgb-ink), 0.15);
    --color-border--reversed: rgba(var(--rgb-almost-white), 0.25);
    --color-border--light: rgba(var(--rgb-ink), 0.05);
    --color-border--heavy: rgba(var(--rgb-ink), 0.5);
    --color-border--solid: rgb(var(--rgb-ink));
    --color-border--popup: rgba(var(--rgb-black), 0.15);
    --color-shadow: rgba(var(--rgb-medium-gray), 0.5);
    --color-shadow--light: rgba(var(--rgb-medium-gray), 0.3);
    --color-shadow--dark: rgba(var(--rgb-black), 0.1);
    --color-focus-ring: #a4d2ff;
    --color-unread: rgb(var(--rgb-orange));
    --color-quote-toggle: #0068c8;
    --color-tertiary--contrast: rgb(var(--rgb-purple));
    --color-collection: rgb(var(--rgb-green));
}

html {
    background: var(--color-bg--main);
    color: var(--color-txt);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
    scroll-padding-top: 4rem;
    scroll-padding-bottom: 6rem;
}


body {
    font-size: var(--font-size-medium);
    padding: 0 0 var(--body-padding);
    margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.u-relative {
    position: relative;
}

.page__content {
    max-width: var(--content-width);
    margin: 0 auto;
}

h1, .hdg--xx-large {
    font-size: var(--font-size-xx-large);
}

.hdg, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1;
}

.align--center\@desktop {
    text-align: center;
}
.cards {
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.cards {
    grid-auto-rows: 35rem;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
}


.card {
    background: var(--color-bg--card);
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 3rem var(--color-shadow);
}

.hdg--divider::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    z-index: -1;
    background: linear-gradient(
135deg
, var(--color-secondary) 0%, var(--color-tertiary) 100%);
}

.sheet-actions {
    top: -3rem !important;
    right: -3rem !important;
}

.btn--icon {
    padding-left: 2.2em;
    position: relative;
}

.btn--outlined-tertiary {
    border-color: var(--color-tertiary);
    color: var(--color-tertiary);
}

.btn {
    display: inline-block;
    margin: 0;
    padding: 0.3em 0.8em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3rem;
    white-space: nowrap;
    background-color: transparent;
    color: var(--color-txt);
    border: 1px solid var(--color-border--solid);
}

.btn--outlined-tertiary.btn--icon::before, .btn--icon-round-outlined-tertiary::before {
    filter: invert(15%) sepia(88%) saturate(6807%) hue-rotate(
257deg
) brightness(96%) contrast(106%);
}

.btn--icon-new::before {
    background-image: url(https://production.haystack-assets.com/assets/icons/add-dcb4252….svg);
}

.push_quarter--top {
    margin-top: var(--quarter-space) !important;
}
.push_half--bottom {
    margin-bottom: var(--half-space) !important;
}
.txt--break-words {
    word-wrap: break-word;
}
