/* Pulled from Basecamp */

:root {
    --content-width: 98rem;
    --color-bg--card: #fff;
    --font-size-base: 11px;
    --font-size-medium: 1.8rem;
    --font-size-xx-large: 3.4rem;
}

html {
    font-size: var(--font-size-base);
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: var(--font-size-medium);
}

h1 {
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
.u-relative {
    position: relative;
}

.align--center\@desktop {
    text-align: center;
}

.page__content {
    max-width: var(--content-width);
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.card {
    background: #FFF;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 3rem rgba(226, 221, 215, 0.5);
}

.card__content {
    padding: 1.5em;
    width: 100%;
}

/* New Components */