.drag-and-drop {

}
.drag-and-drop__container {
  position: relative;
  overflow: hidden;
}
.drag-and-drop__divider {
  align-self: center;
}
.drag-and-drop__title {
  color: orange;
}
.drag-and-drop__items {
  position: relative;
  overflow: hidden;
  border: 2px solid purple;
  min-height: 150px;
}

.drag-and-drop__item {
  box-shadow: 0 0 3rem var(--color-shadow); 
  background-color: pink;
}
.drag-and-drop__item:hover {
  background-color: lightblue;
  cursor: pointer;
}

.drag-and-drop__items--adding:hover {
  background-color: #9ae6b4;
  border:  2px dashed green;
  color: red;
}
.drag-and-drop__items--removing {
  background-color: #fbd38d;
  color: blue;
}
.drag-and-drop__item--dragging {
  color: yellow !important;
  background-color: gray !mediumpurple;
  opacity: .20;
  border: 2px dashed #B2B2B2;
}

.space .card {
  box-shadow: 0 0 3rem var(--color-shadow);
  font-size: 0.8em;
  width: 18rem;
  order: 1;
  flex-shrink: 0;
  margin: 0 0.5rem;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.2s ease;
  background: var(--color-bg--main);
  box-shadow: 0 0 10px var(--color-bg--surface);
  width: 25rem;
}